body{

background-size:1400px 200px;
background-repeat:no-repeat;
}
#freetrial{
border-radius:0px;
background:#000000;
width:150px;
height:150px;
padding:15px;
margin-top:450px;
margin-left:310px;
border:1px solid white;
color:white;
text-align:center;


}
.co{
font-size:25px;

}
.io{
font-size:25px;

}
.cour{
font-size:25px;


}
.medal{
font-size:25px;

}
#noofvideo{
border-radius:0px;
background:#483D8B;
width:150px;
height:150px;
padding:15px;
margin-top:-198px;
margin-left:492px;
border:1px solid white;
color:white;
text-align:center;

}
#header{
color:white;

}
#lists{
border-radius:0px;
background:#FF4500;
width:150px;
height:150px;
padding:15px;
margin-top:-198px;
margin-left:673px;
border:1px solid white;
text-align:center;
color:white;

}
#list{

border-radius:0px;
background:#2F4F4F;
width:150px;
height:150px;
padding:15px;
margin-top:-198px;
margin-left:850px;
border:1px solid white;
color:white;
text-align:center;
}

.box{
background-color:white;


}